<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictor</title>
</head>
<body>

    <div class="wrapper">
        <div class="title">
            <h1>Price Predictor</h1>
        </div>
        
        <form action="/">
            <div class="inputfield">
                <for="ram">Ram (GB)</for>
                <input type="text" class="input" name="ram">
            </div>    
            <div class="inputfield">
                <for="weight">Weight (kg)</for>
                <input type="text" class="input" name="weight" required>
            </div>
        </form>




    </div>
    
</body>
</html>